<!-- About page  -->
<div class="container-fluid about-container" id="about">
  <div class="row">
    <div class="col-10 col-md-4 col-lg-4 col-xl-3 offset-1 offset-md-0 offset-lg-1 offset-xl-2">
      <img src="img/aboutpic.jpg" class="img-fluid about-img " alt="">
    </div>
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-container text-center text-md-left">
      <h1 class="about-header">Sproutz</h1>
      <hr class="about-ruler">
      <p class="about-txt">Producer . Enigneer . Songwriter<br>Fort Worth, Texas</p>
    </div>
  </div>
</div>
