<!-- Links to socials  -->
<div class="container-fluid social-container" id="socials">
  <div class="row">
    <div class="col-4 col-md-2 offset-md-3 text-center">
      <a href="https://twitter.com/SproutzMusic" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="col-4 col-md-2 text-center">
      <a href="https://www.instagram.com/sproutzmusic/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="col-4 col-md-2 text-center">
      <a href="https://soundcloud.com/sproutz" target="_blank"><i class="fab fa-soundcloud"></i></a>
    </div>
  </div>
</div>
